/* General */
body {
  font: 12px/22px 'Raleway', sans-serif;
}

.main_page {
  position: relative;
  display: flex;
  height: 100%;
  border: 1px gray solid;
}

.main_content {
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.top_header {
  margin-top: 10%;
  height: 100%;
  width: 100%;
  background: red;
}

.audio_wrapper {
  margin-top: 2%;
  margin-bottom: 2%;
  width:100%;
  position: relative;
}

.audio_wrapper .bar_wrapper {
  position: relative;
  height: 20px;
  background: gray;
}

.audio_wrapper .button_wrapper {
  display: flex;
  justify-content: center;
}

.audio_wrapper .box {
  width: 100%;
	height: 2px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: absolute;
}

.audio_wrapper .box .listened {
  position: absolute;
  background: black;
  height: 2px;
}

.audio_wrapper .box .tolisten {
  position: absolute;
  background: red;
  height: 2px;
}

.audio_wrapper .cursor_wrapper {

}

.audio_wrapper .circle {
	width: 10px;
	height: 10px;
	background: white;
  margin-top: 6px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
  border : 0px solid black;
	border-radius: 5px;
  position: absolute;
}

.display_box {
  width: 100%;
  height: 20vh;
  margin-top: 10%;
  margin-bottom: 10%;
}

.react-list-select {
	background: #ffffff;
	border: 1px solid #4286f4;
  padding-left: 0;
	margin-right: 0.5em;
}

.react-list-select--item {
	list-style: none;
	padding-left: 2%;
	margin: 0;
}

.react-list-select--item.is-focused:hover {
	background-color: #83e3f7;
}

.column.right:before {
  content: '';
  position: absolute;
  top: 0;
  left: 65%;
  height: 100%;
  width: 1px;
  background: -moz-linear-gradient(left, #c5c5c5 0%, #dedede 100%);
  background: -webkit-linear-gradient(left, #c5c5c5 0%, #dedede 100%);
  background: linear-gradient(to right, #c5c5c5 0%, #dedede 100%);
}
